@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    background-image: url(background.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.headshot {
    width: 15%;
    border-radius: 50%;
    margin: 1% auto 0 auto;
}

section {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.75);
    margin: 2% 25%;
    padding: 5%;
}

audio {
    width: 70%;
}